body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  background-color: rgb(37, 193, 221);
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel {
  background-color: white;
  border-radius: 10px;
  display: flex;
  max-width: 960px;
  width: 100%;
  padding: 15px 25px;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}
.pricing-plan {
  border-bottom: 1px slategray solid;
}
.pricing-plan:last-child {
  border-bottom: none;
}
.pricing-img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 25px;
}
.pricing-header {
  letter-spacing: 1px;
  font-weight: 600;
  color: #888;
}
.pricing-features {
  margin: 50px 0px 25px;
  color: rgb(37, 193, 221);
}
.pricing-features-item {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px slategray solid;
}
.pricing-features-item:last-child {
  border-bottom: 1px slategray solid;
}

ul li {
  display: inline;
  flex-direction: column;
  display: flex;
}
.pricing-price {
  display: block;
  color: rgb(37, 193, 221);
  font-size: 32px;
  font-weight: 700;
}
.pricing-button {
  border: 1px grey solid;
  border-radius: 10px;
  color: blue;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
  transition: background-color 500ms ease-in-out;
}
.pricing-button:hover,
.pricing-button:focus {
  background-color: lightblue;
}
.pricing-button.is-featured {
  background-color: lightblue;
  color: white;
}
.pricing-button.is-featured:hover,
.pricing-button.is-featured:focus {
  color: white;
  background-color: lightskyblue;
}
@media (min-width: 900px) {
  .panel {
    flex-direction: row;
    margin: 200px 0;

  }
  .pricing-plan {
    border-bottom: none;
    border-right: 1px slategray solid;
    padding: 25px 50px;
  }
  .pricing-plan:last-child {
    border-right: none;

}
